.DS_Store
.history
*.zip


{
    "AIGCDescription": "",
    "CategoryType": 120,
    "anchors": [
        {
            "description": "Effects",
            "extraInfo": {
                "subtype": ""
            },
            "icon": {
                "urlList": [
                    "https://p16-sg.tiktokcdn.com/obj/tiktok-obj/capcut_logo_64px_bk.png?shp=81f88b70&shcp=-"
                ]
            },
            "id": "1029962806",
            "keyword": "Foxy Eyes",
            "schema": "https://www.capcut.com/editor?scenario=tiktok&utm_source=tiktok_anchor_tool&utm_medium=tiktok_anchor&utm_campaign=71351105",
            "thumbnail": {
                "height": 64,
                "urlList": [
                    "https://p16-sg.tiktokcdn.com/obj/tiktok-obj/64px_anchor_effect3x.png?shp=81f88b70&shcp=-"
                ],
                "width": 64
            },
            "type": 28
        },
        {
            "description": "Effects",
            "extraInfo": {
                "subtype": ""
            },
            "icon": {
                "urlList": [
                    "https://p16-sg.tiktokcdn.com/obj/tiktok-obj/capcut_logo_64px_bk.png?shp=81f88b70&shcp=-"
                ]
            },
            "id": "33910088",
            "keyword": "The real black and white",
            "schema": "https://www.capcut.com/editor?scenario=tiktok&utm_source=tiktok_anchor_tool&utm_medium=tiktok_anchor&utm_campaign=71351105",
            "thumbnail": {
                "height": 64,
                "urlList": [
                    "https://p16-sg.tiktokcdn.com/obj/tiktok-obj/64px_anchor_effect3x.png?shp=81f88b70&shcp=-"
                ],
                "width": 64
            },
            "type": 28
        }
    ],
    "author": {
        "avatarLarger": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8164571f03f7c8c43d48a944730e7aff~c5_1080x1080.jpeg?lk3s=a5d48078&nonce=70937&refresh_token=073a541b6ab66b53f733a07524efed19&x-expires=1736046000&x-signature=sUStHsp4hsc6KFdgryv9OuQp2mM%3D&shp=a5d48078&shcp=81f88b70",
        "avatarMedium": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8164571f03f7c8c43d48a944730e7aff~c5_720x720.jpeg?lk3s=a5d48078&nonce=19179&refresh_token=444587e727e8f85f25131d1599a8d68f&x-expires=1736046000&x-signature=EX0atj3eU6EX35Bpeb%2FkhieQhH4%3D&shp=a5d48078&shcp=81f88b70",
        "avatarThumb": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8164571f03f7c8c43d48a944730e7aff~c5_100x100.jpeg?lk3s=a5d48078&nonce=70930&refresh_token=8080459240117cab02417140a5ecc51c&x-expires=1736046000&x-signature=dv%2BxySRF4FkZeTFq4I18zanuOVA%3D&shp=a5d48078&shcp=81f88b70",
        "commentSetting": 0,
        "downloadSetting": 0,
        "duetSetting": 0,
        "ftc": false,
        "id": "7451618272635864070",
        "isADVirtual": false,
        "isEmbedBanned": false,
        "nickname": "🦋Titiana_official🦋",
        "openFavorite": false,
        "privateAccount": false,
        "relation": 0,
        "secUid": "MS4wLjABAAAAeaawwmaWKgNBuxyi-rhW4vEb93V6NBsb7Sa0JYq8QDWwMzf5ydFYnKE-GI0G74rk",
        "secret": false,
        "signature": "",
        "stitchSetting": 0,
        "uniqueId": "miss_tj2",
        "verified": false
    },
    "authorStats": {
        "diggCount": 770,
        "followerCount": 2557,
        "followingCount": 181,
        "friendCount": 0,
        "heart": 5662,
        "heartCount": 5662,
        "videoCount": 11
    },
    "backendSourceEventTracking": "",
    "collected": false,
    "contents": [
        {
            "desc": "Mumwaka mushya w’Umugisha kuri mwese ❤️🫂 @SILVIZO_Official @Impatanira🇷🇼🇫🇷 @💎C-Flow💎♡Zibelinco ",
            "textExtra": [
                {
                    "awemeId": "",
                    "end": 59,
                    "hashtagName": "",
                    "isCommerce": false,
                    "secUid": "MS4wLjABAAAAJ1DavDghYJkXo-REA9Jy3ddJa1kLtahlY-xFEVxCzAN7cgSFcGQg0iS7jTYwxNG0",
                    "start": 42,
                    "subType": 0,
                    "type": 0,
                    "userId": "7139030368543966213",
                    "userUniqueId": "silvizo_official"
                },
                {
                    "awemeId": "",
                    "end": 79,
                    "hashtagName": "",
                    "isCommerce": false,
                    "secUid": "MS4wLjABAAAAyAGkdgtMaRRHI04EGbMRUvs3i3EOY-FGItcVbH0yNg1LMpPWn2Wx3sEFk4xuIcPJ",
                    "start": 60,
                    "subType": 0,
                    "type": 0,
                    "userId": "7120607943712408581",
                    "userUniqueId": "impatanira"
                },
                {
                    "awemeId": "",
                    "end": 101,
                    "hashtagName": "",
                    "isCommerce": false,
                    "secUid": "MS4wLjABAAAAiFXd4x9anDjaMX7odknLlXalV6Gp7JxWl9zNdo3wCIcYHPq79yI3UoSJjgKAOJX-",
                    "start": 80,
                    "subType": 0,
                    "type": 0,
                    "userId": "6788933233008903174",
                    "userUniqueId": "cashflowlincoln1"
                }
            ]
        }
    ],
    "createTime": 1735653747,
    "desc": "Mumwaka mushya w’Umugisha kuri mwese ❤️🫂 @SILVIZO_Official @Impatanira🇷🇼🇫🇷 @💎C-Flow💎♡Zibelinco ",
    "digged": false,
    "diversificationId": 10083,
    "duetDisplay": 0,
    "duetEnabled": true,
    "forFriend": false,
    "id": "7454576055169387782",
    "itemCommentStatus": 0,
    "item_control": {
        "can_repost": true
    },
    "music": {
        "album": "Chill Guitar",
        "authorName": "Peanuds",
        "coverLarge": "https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/2250b8536dd94e0881698ca223e684d5~c5_720x720.jpeg",
        "coverMedium": "https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/2250b8536dd94e0881698ca223e684d5~c5_200x200.jpeg",
        "coverThumb": "https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/2250b8536dd94e0881698ca223e684d5~c5_100x100.jpeg",
        "duration": 30,
        "id": "7227002130481154049",
        "isCopyrighted": false,
        "original": false,
        "playUrl": "https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-ve-2774/ow7kHEoeoCkUHZCJgIekbOQn9b5yykjDBtBhuM",
        "title": "Chill Guitar"
    },
    "officalItem": false,
    "originalItem": false,
    "privateItem": false,
    "secret": false,
    "shareEnabled": true,
    "stats": {
        "collectCount": 26,
        "commentCount": 20,
        "diggCount": 182,
        "playCount": 1264,
        "shareCount": 101
    },
    "statsV2": {
        "collectCount": "26",
        "commentCount": "20",
        "diggCount": "182",
        "playCount": "1264",
        "repostCount": "0",
        "shareCount": "101"
    },
    "stitchDisplay": 0,
    "stitchEnabled": true,
    "textExtra": [
        {
            "awemeId": "",
            "end": 59,
            "hashtagName": "",
            "isCommerce": false,
            "secUid": "MS4wLjABAAAAJ1DavDghYJkXo-REA9Jy3ddJa1kLtahlY-xFEVxCzAN7cgSFcGQg0iS7jTYwxNG0",
            "start": 42,
            "subType": 0,
            "type": 0,
            "userId": "7139030368543966213",
            "userUniqueId": "silvizo_official"
        },
        {
            "awemeId": "",
            "end": 79,
            "hashtagName": "",
            "isCommerce": false,
            "secUid": "MS4wLjABAAAAyAGkdgtMaRRHI04EGbMRUvs3i3EOY-FGItcVbH0yNg1LMpPWn2Wx3sEFk4xuIcPJ",
            "start": 60,
            "subType": 0,
            "type": 0,
            "userId": "7120607943712408581",
            "userUniqueId": "impatanira"
        },
        {
            "awemeId": "",
            "end": 101,
            "hashtagName": "",
            "isCommerce": false,
            "secUid": "MS4wLjABAAAAiFXd4x9anDjaMX7odknLlXalV6Gp7JxWl9zNdo3wCIcYHPq79yI3UoSJjgKAOJX-",
            "start": 80,
            "subType": 0,
            "type": 0,
            "userId": "6788933233008903174",
            "userUniqueId": "cashflowlincoln1"
        }
    ],
    "textLanguage": "ru",
    "textTranslatable": true,
    "video": {
        "VQScore": "64.86",
        "bitrate": 441706,
        "bitrateInfo": [
            {
                "Bitrate": 441706,
                "CodecType": "h264",
                "GearName": "lower_540_0",
                "MVMAF": "\"{\\\"v2.0\\\": {\\\"srv1\\\": {\\\"v1080\\\": 89.483, \\\"v960\\\": 90.139, \\\"v864\\\": 90.929, \\\"v720\\\": 94.174}, \\\"ori\\\": {\\\"v1080\\\": 78.122, \\\"v960\\\": 81.057, \\\"v864\\\": 84.777, \\\"v720\\\": 88.642}}}\"",
                "PlayAddr": {
                    "DataSize": 2186448,
                    "FileCs": "c:0-32093-d5dd",
                    "FileHash": "1b3b6498b896a3e4fd164d44a9b62443",
                    "Height": 1024,
                    "Uri": "v09044g40000ctpvdmvog65rkets3h1g",
                    "UrlKey": "v09044g40000ctpvdmvog65rkets3h1g_h264_540p_441706",
                    "UrlList": [
                        "https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c004/ooKeeexjGI7XGnu2ADLgkUG3iEeydEFQIaAuRz/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=862&bt=431&cs=0&ds=6&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=4&rc=NTNlN2VkNzc5ZTg2ODtlNEBpamt2aHU5cnB5dzMzNzczM0BhLmJhMDZhNS8xYjFeYzBeYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=04fe6ffcdd6a2e30f7d70cfc5fa5d22d&tk=tt_chain_token",
                        "https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c004/ooKeeexjGI7XGnu2ADLgkUG3iEeydEFQIaAuRz/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=862&bt=431&cs=0&ds=6&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=4&rc=NTNlN2VkNzc5ZTg2ODtlNEBpamt2aHU5cnB5dzMzNzczM0BhLmJhMDZhNS8xYjFeYzBeYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=04fe6ffcdd6a2e30f7d70cfc5fa5d22d&tk=tt_chain_token",
                        "https://www.tiktok.com/aweme/v1/play/?faid=1988&file_id=a13bf8a543e54b2684d49a3bd4eb10d2&is_play_url=1&item_id=7454576055169387782&line=0&ply_type=2&redirect=0&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLjljYTA0ZDE2YmM3OGMwZWMzZjcwNTgyNmVlZjZjMTli&tk=tt_chain_token&video_id=v09044g40000ctpvdmvog65rkets3h1g"
                    ],
                    "Width": 576
                },
                "QualityType": 24
            },
            {
                "Bitrate": 325176,
                "CodecType": "h264",
                "GearName": "lowest_540_0",
                "MVMAF": "\"{\\\"v2.0\\\": {\\\"srv1\\\": {\\\"v1080\\\": 80.406, \\\"v960\\\": 84.104, \\\"v864\\\": 90.173, \\\"v720\\\": 90.095}, \\\"ori\\\": {\\\"v1080\\\": 72.069, \\\"v960\\\": 76.496, \\\"v864\\\": 82.671, \\\"v720\\\": 82.967}}}\"",
                "PlayAddr": {
                    "DataSize": 1609624,
                    "FileCs": "c:0-32117-7bc6",
                    "FileHash": "d7b404695f70bead63c314516ff163b3",
                    "Height": 1024,
                    "Uri": "v09044g40000ctpvdmvog65rkets3h1g",
                    "UrlKey": "v09044g40000ctpvdmvog65rkets3h1g_h264_540p_325176",
                    "UrlList": [
                        "https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c002/o8ed9DGbRqGzenMI6eL23QEXFGDuIAEueigkjA/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=634&bt=317&cs=0&ds=6&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=5&rc=OGVpOjRoaDszNTpoaTNpN0Bpamt2aHU5cnB5dzMzNzczM0BjXmNeNTNhXy0xNF8wYzNfYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=eb0f2761392b8f5e25f48034ae3f8c4e&tk=tt_chain_token",
                        "https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c002/o8ed9DGbRqGzenMI6eL23QEXFGDuIAEueigkjA/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=634&bt=317&cs=0&ds=6&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=5&rc=OGVpOjRoaDszNTpoaTNpN0Bpamt2aHU5cnB5dzMzNzczM0BjXmNeNTNhXy0xNF8wYzNfYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=eb0f2761392b8f5e25f48034ae3f8c4e&tk=tt_chain_token",
                        "https://www.tiktok.com/aweme/v1/play/?faid=1988&file_id=b46ff03fbe774200b8de6e81a7ffabf5&is_play_url=1&item_id=7454576055169387782&line=0&ply_type=2&redirect=0&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLmIwZGYwY2Y1ZjU2N2Y1MzE0NjQ4OTdiMzFmYTE4ZDlk&tk=tt_chain_token&video_id=v09044g40000ctpvdmvog65rkets3h1g"
                    ],
                    "Width": 576
                },
                "QualityType": 25
            },
            {
                "Bitrate": 242257,
                "CodecType": "h265_hvc1",
                "GearName": "lower_540_1",
                "MVMAF": "\"{\\\"v2.0\\\": {\\\"srv1\\\": {\\\"v1080\\\": 86.242, \\\"v960\\\": 90.432, \\\"v864\\\": 89.604, \\\"v720\\\": 93.655}, \\\"ori\\\": {\\\"v1080\\\": 76.061, \\\"v960\\\": 78.94, \\\"v864\\\": 82.122, \\\"v720\\\": 85.089}}}\"",
                "PlayAddr": {
                    "DataSize": 1199176,
                    "FileCs": "c:0-32122-9ef7",
                    "FileHash": "2c18a73be51371716a82158f221b4323",
                    "Height": 1024,
                    "Uri": "v09044g40000ctpvdmvog65rkets3h1g",
                    "UrlKey": "v09044g40000ctpvdmvog65rkets3h1g_bytevc1_540p_242257",
                    "UrlList": [
                        "https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c002/oo1D7iBRJBnNcvEtEQB7AyABIfxtoSBi4nEJfQ/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=472&bt=236&cs=2&ds=6&eid=7936&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=4&rc=Ozo3ZzRlaGY5Z2UzNTY0M0Bpamt2aHU5cnB5dzMzNzczM0BiNmJgLi8xNl8xXl8yMzQwYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=099569a23868a8380613d4bd2900849f&tk=tt_chain_token",
                        "https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c002/oo1D7iBRJBnNcvEtEQB7AyABIfxtoSBi4nEJfQ/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=472&bt=236&cs=2&ds=6&eid=7936&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=4&rc=Ozo3ZzRlaGY5Z2UzNTY0M0Bpamt2aHU5cnB5dzMzNzczM0BiNmJgLi8xNl8xXl8yMzQwYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=099569a23868a8380613d4bd2900849f&tk=tt_chain_token",
                        "https://www.tiktok.com/aweme/v1/play/?faid=1988&file_id=30716352b0ab4db69c4e2b11cde497e8&is_play_url=1&item_id=7454576055169387782&line=0&ply_type=2&redirect=0&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLmFkMjYwZGE3NzJlNDAyNjRlMzc0MGY1MWNmMTI0NDc3&tk=tt_chain_token&video_id=v09044g40000ctpvdmvog65rkets3h1g"
                    ],
                    "Width": 576
                },
                "QualityType": 24
            }
        ],
        "claInfo": {
            "enableAutoCaption": true,
            "hasOriginalAudio": true,
            "noCaptionReason": 3
        },
        "codecType": "h264",
        "cover": "https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI?lk3s=81f88b70&x-expires=1736046000&x-signature=e56KbUrvmbvl5en35Z0wh6a4sfo%3D&shp=81f88b70&shcp=-",
        "definition": "540p",
        "downloadAddr": "https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0068/owuHeAQMdXFzSE8cEuLIA2G3RzAGtfWRgjeHke/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=1690&bt=845&cs=0&ds=3&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=0&rc=ZjYzODQ3N2c8OGhmZWk3OEBpamt2aHU5cnB5dzMzNzczM0AvMy5iNmEyNV8xYTFgMTItYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=15ab06480bdc1b52f618bd77b1173bd0&tk=tt_chain_token",
        "duration": 39,
        "dynamicCover": "https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI?lk3s=81f88b70&x-expires=1736046000&x-signature=e56KbUrvmbvl5en35Z0wh6a4sfo%3D&shp=81f88b70&shcp=-",
        "encodeUserTag": "",
        "encodedType": "normal",
        "format": "mp4",
        "height": 1024,
        "id": "7454576055169387782",
        "originCover": "https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oc2juAeukzQCGeGDR3AeQDLIHRji9dnXGvFeEP?lk3s=81f88b70&x-expires=1736046000&x-signature=rFrNXCn6YO4P6BGeB4bQyeDyYO4%3D&shp=81f88b70&shcp=-",
        "playAddr": "https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c004/ooKeeexjGI7XGnu2ADLgkUG3iEeydEFQIaAuRz/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C&cv=1&br=862&bt=431&cs=0&ds=6&ft=4fUEKMTp8Zmo00TzPb4jV.6DZpWrKsd.&mime_type=video_mp4&qs=4&rc=NTNlN2VkNzc5ZTg2ODtlNEBpamt2aHU5cnB5dzMzNzczM0BhLmJhMDZhNS8xYjFeYzBeYSMuMHFoMmRzYW1gLS1kMTZzcw%3D%3D&src=1&btag=e00088000&expire=1736048361&l=20250103033841CDF35FAFD21CE31EB236&ply_type=2&policy=2&signature=04fe6ffcdd6a2e30f7d70cfc5fa5d22d&tk=tt_chain_token",
        "ratio": "540p",
        "videoQuality": "lower",
        "volumeInfo": {
            "Loudness": -18.1,
            "Peak": 1
        },
        "width": 576,
        "zoomCover": {
            "240": "https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI~tplv-photomode-zoomcover:240:240.avif?lk3s=81f88b70&x-expires=1736046000&x-signature=1KLd1TxWf%2BphSkgNvKkhuf6SBsg%3D&shp=81f88b70&shcp=-",
            "480": "https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI~tplv-photomode-zoomcover:480:480.avif?lk3s=81f88b70&x-expires=1736046000&x-signature=0UOSZxdv3vyqH3efVQgIxazv9pM%3D&shp=81f88b70&shcp=-",
            "720": "https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI~tplv-photomode-zoomcover:720:720.avif?lk3s=81f88b70&x-expires=1736046000&x-signature=ZWI%2FkokpfeT9PWkGBGC0EG85Nbk%3D&shp=81f88b70&shcp=-",
            "960": "https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/oweGIRLZGmhuDAenBKIDQI6eAALXFdAfzXGkAI~tplv-photomode-zoomcover:960:960.avif?lk3s=81f88b70&x-expires=1736046000&x-signature=AiqCG4SC%2BfVMnw%2FTHwUZzO0yE9s%3D&shp=81f88b70&shcp=-"
        }
    }
}