.ettpd-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 400px;
  width: 308px;
  background-color: yellow;
  bottom: 100px;
  right: 20px;
  z-index: 99999;
  overflow: visible;
  border-radius: 4px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
}

.ettpd-a {
  color: black;
}
.ettpd-a:hover {
  color: black;
  text-decoration: underline;
}
.ettpd-a:visited {
  color: black;
}
.ettpd-a:active {
  color: white;
}
.ettpd-ol {
  color: black;
  width: 300px;
  overflow-y: auto;
  margin: 0;
}
.ettpd-ol li {
  padding: 4px;
  border-bottom: 1px solid #fe2c55;
}
.ettpd-ta {
  width: 100%;
  height: 40px;
  border: none;
}

.ettpd-btn,
.ettpd-span {
  width: 100%;
  border: none;
  padding: 4px;
  background-color: #fe2c55;
  cursor: pointer;
  transition: background-color ease-in-out 200ms;
}

.ettpd-btn:hover {
  background-color: #f88aa0;
}
.ettpd-btn {
  padding-right: 20px;
  margin: 15px 8px;
  border-radius: 4px;
  font-weight: bold;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
}

.ettpd-report-bug {
  background-color: #53f5ef;
  color: black;
  position: absolute;
  font-size: x-small;
  bottom: -7px;
}

.ettpd-report-bug:hover {
  background-color: #00b1ab;
  transition: background-color ease-in-out 200ms;
}
.ettpd-copyright {
  height: 20px;
  font-size: x-small;
  margin-right: 4px;
  bottom: 80px;
}
.ettpd-span {
  width: 300px;
  display: block;
  position: fixed;
  right: 20px;
  padding: -4px;
  height: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

#ettpd-close,
#ettpd-show,
#ettpd-liked-only {
  position: fixed;
  border: none;
  background: yellow;
  color: #fe2c55;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.75);
}
#ettpd-close,
#ettpd-liked-only {
  border-radius: 3px;
  padding: 4px;
}

#ettpd-close {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 100%;
  padding: 0 5px;
}
#ettpd-liked-only {
  position: relative;
  width: 100%;
  background: #53f5ef;
  color: black;
  margin: 5px 0;
}

#ettpd-liked-only:hover {
  background: #00b1ab;
  transition: background-color ease-in-out 200ms;
}
#ettpd-liked-only:active {
  background: #fe2c55;
}

#ettpd-show {
  padding: 7px;
  bottom: 70px;
  right: 20px;
  z-index: 99999;
  border-radius: 7px;
}

.ettpd-current-video-btn {
  background-color: white;
}

.ettpd-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin-bottom: 5px;
}
#ettpd-liked-only,
#ettpd-current-profile {
  max-height: 10px;
  max-width: 10px;
  margin-right: 3px;
}

label[for="ettpd-liked-only"] {
  color: black;
}

label[for="ettpd-current-profile"] {
  color: black;
  max-width: 150px;
  padding-right: 4px;
  text-wrap-mode: nowrap;
}

.ettpd-liked-only-container,
.ettpd-current-profile-container {
  display: flex;
  align-items: center;
  background-color: #53f5ef;
  padding: 2px;
  border-radius: 4px;
  overflow: hidden;
}

.ettpd-item-list-container {
  display: flex;
  overflow: auto;
}

.download-btn {
  position: absolute;
  top: 0;
  border: none;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom: 1px solid white;
  padding: 5px 20px;
  background-color: #fe2c55;
  color: #fff;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #f88aa0;
  transition: background-color ease-in-out 200ms;
}
.download-btn:active {
  background-color: white;
  color: black;
  transition: background-color ease-in-out 200ms;
}

.download-btn-container {
  position: absolute;
  top:0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
